In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/afoone/caipc-laberit-jul2022/master/titanic.csv')

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data.shape

(891, 12)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
data['Ticket'].unique()

array(['A/5 21171', 'PC 17599', 'STON/O2. 3101282', '113803', '373450',
       '330877', '17463', '349909', '347742', '237736', 'PP 9549',
       '113783', 'A/5. 2151', '347082', '350406', '248706', '382652',
       '244373', '345763', '2649', '239865', '248698', '330923', '113788',
       '347077', '2631', '19950', '330959', '349216', 'PC 17601',
       'PC 17569', '335677', 'C.A. 24579', 'PC 17604', '113789', '2677',
       'A./5. 2152', '345764', '2651', '7546', '11668', '349253',
       'SC/Paris 2123', '330958', 'S.C./A.4. 23567', '370371', '14311',
       '2662', '349237', '3101295', 'A/4. 39886', 'PC 17572', '2926',
       '113509', '19947', 'C.A. 31026', '2697', 'C.A. 34651', 'CA 2144',
       '2669', '113572', '36973', '347088', 'PC 17605', '2661',
       'C.A. 29395', 'S.P. 3464', '3101281', '315151', 'C.A. 33111',
       'S.O.C. 14879', '2680', '1601', '348123', '349208', '374746',
       '248738', '364516', '345767', '345779', '330932', '113059',
       'SO/C 14885', '3101278', 'W./C. 6608', 'SOTON/OQ 392086', '343275',
       '343276', '347466', 'W.E.P. 5734', 'C.A. 2315', '364500', '374910',
       'PC 17754', 'PC 17759', '231919', '244367', '349245', '349215',
       '35281', '7540', '3101276', '349207', '343120', '312991', '349249',
       '371110', '110465', '2665', '324669', '4136', '2627',
       'STON/O 2. 3101294', '370369', 'PC 17558', 'A4. 54510', '27267',
       '370372', 'C 17369', '2668', '347061', '349241',
       'SOTON/O.Q. 3101307', 'A/5. 3337', '228414', 'C.A. 29178',
       'SC/PARIS 2133', '11752', '7534', 'PC 17593', '2678', '347081',
       'STON/O2. 3101279', '365222', '231945', 'C.A. 33112', '350043',
       '230080', '244310', 'S.O.P. 1166', '113776', 'A.5. 11206',
       'A/5. 851', 'Fa 265302', 'PC 17597', '35851', 'SOTON/OQ 392090',
       '315037', 'CA. 2343', '371362', 'C.A. 33595', '347068', '315093',
       '363291', '113505', 'PC 17318', '111240', 'STON/O 2. 3101280',
       '17764', '350404', '4133', 'PC 17595', '250653', 'LINE',
       'SC/PARIS 2131', '230136', '315153', '113767', '370365', '111428',
       '364849', '349247', '234604', '28424', '350046', 'PC 17610',
       '368703', '4579', '370370', '248747', '345770', '3101264', '2628',
       'A/5 3540', '347054', '2699', '367231', '112277',
       'SOTON/O.Q. 3101311', 'F.C.C. 13528', 'A/5 21174', '250646',
       '367229', '35273', 'STON/O2. 3101283', '243847', '11813',
       'W/C 14208', 'SOTON/OQ 392089', '220367', '21440', '349234',
       '19943', 'PP 4348', 'SW/PP 751', 'A/5 21173', '236171', '347067',
       '237442', 'C.A. 29566', 'W./C. 6609', '26707', 'C.A. 31921',
       '28665', 'SCO/W 1585', '367230', 'W./C. 14263',
       'STON/O 2. 3101275', '2694', '19928', '347071', '250649', '11751',
       '244252', '362316', '113514', 'A/5. 3336', '370129', '2650',
       'PC 17585', '110152', 'PC 17755', '230433', '384461', '110413',
       '112059', '382649', 'C.A. 17248', '347083', 'PC 17582', 'PC 17760',
       '113798', '250644', 'PC 17596', '370375', '13502', '347073',
       '239853', 'C.A. 2673', '336439', '347464', '345778', 'A/5. 10482',
       '113056', '349239', '345774', '349206', '237798', '370373',
       '19877', '11967', 'SC/Paris 2163', '349236', '349233', 'PC 17612',
       '2693', '113781', '19988', '9234', '367226', '226593', 'A/5 2466',
       '17421', 'PC 17758', 'P/PP 3381', 'PC 17485', '11767', 'PC 17608',
       '250651', '349243', 'F.C.C. 13529', '347470', '29011', '36928',
       '16966', 'A/5 21172', '349219', '234818', '345364', '28551',
       '111361', '113043', 'PC 17611', '349225', '7598', '113784',
       '248740', '244361', '229236', '248733', '31418', '386525',
       'C.A. 37671', '315088', '7267', '113510', '2695', '2647', '345783',
       '237671', '330931', '330980', 'SC/PARIS 2167', '2691',
       'SOTON/O.Q. 3101310', 'C 7076', '110813', '2626', '14313',
       'PC 17477', '11765', '3101267', '323951', 'C 7077', '113503',
       '2648', '347069', 'PC 17757', '2653', 'STON/O 2. 3101293',
       '349227', '27849', '367655', 'SC 1748', '113760', '350034',
       '3101277', '350052', '350407', '28403', '244278', '240929',
       'STON/O 2. 3101289', '341826', '4137', '315096', '28664', '347064',
       '29106', '312992', '349222', '394140', 'STON/O 2. 3101269',
       '343095', '28220', '250652', '28228', '345773', '349254',
       'A/5. 13032', '315082', '347080', 'A/4. 34244', '2003', '250655',
       '364851', 'SOTON/O.Q. 392078', '110564', '376564', 'SC/AH 3085',
       'STON/O 2. 3101274', '13507', 'C.A. 18723', '345769', '347076',
       '230434', '65306', '33638', '113794', '2666', '113786', '65303',
       '113051', '17453', 'A/5 2817', '349240', '13509', '17464',
       'F.C.C. 13531', '371060', '19952', '364506', '111320', '234360',
       'A/S 2816', 'SOTON/O.Q. 3101306', '113792', '36209', '323592',
       '315089', 'SC/AH Basle 541', '7553', '31027', '3460', '350060',
       '3101298', '239854', 'A/5 3594', '4134', '11771', 'A.5. 18509',
       '65304', 'SOTON/OQ 3101317', '113787', 'PC 17609', 'A/4 45380',
       '36947', 'C.A. 6212', '350035', '315086', '364846', '330909',
       '4135', '26360', '111427', 'C 4001', '382651', 'SOTON/OQ 3101316',
       'PC 17473', 'PC 17603', '349209', '36967', 'C.A. 34260', '226875',
       '349242', '12749', '349252', '2624', '2700', '367232',
       'W./C. 14258', 'PC 17483', '3101296', '29104', '2641', '2690',
       '315084', '113050', 'PC 17761', '364498', '13568', 'WE/P 5735',
       '2908', '693', 'SC/PARIS 2146', '244358', '330979', '2620',
       '347085', '113807', '11755', '345572', '372622', '349251',
       '218629', 'SOTON/OQ 392082', 'SOTON/O.Q. 392087', 'A/4 48871',
       '349205', '2686', '350417', 'S.W./PP 752', '11769', 'PC 17474',
       '14312', 'A/4. 20589', '358585', '243880', '2689',
       'STON/O 2. 3101286', '237789', '13049', '3411', '237565', '13567',
       '14973', 'A./5. 3235', 'STON/O 2. 3101273', 'A/5 3902', '364848',
       'SC/AH 29037', '248727', '2664', '349214', '113796', '364511',
       '111426', '349910', '349246', '113804', 'SOTON/O.Q. 3101305',
       '370377', '364512', '220845', '31028', '2659', '11753', '350029',
       '54636', '36963', '219533', '349224', '334912', '27042', '347743',
       '13214', '112052', '237668', 'STON/O 2. 3101292', '350050',
       '349231', '13213', 'S.O./P.P. 751', 'CA. 2314', '349221', '8475',
       '330919', '365226', '349223', '29751', '2623', '5727', '349210',
       'STON/O 2. 3101285', '234686', '312993', 'A/5 3536', '19996',
       '29750', 'F.C. 12750', 'C.A. 24580', '244270', '239856', '349912',
       '342826', '4138', '330935', '6563', '349228', '350036', '24160',
       '17474', '349256', '2672', '113800', '248731', '363592', '35852',
       '348121', 'PC 17475', '36864', '350025', '223596', 'PC 17476',
       'PC 17482', '113028', '7545', '250647', '348124', '34218', '36568',
       '347062', '350048', '12233', '250643', '113806', '315094', '36866',
       '236853', 'STON/O2. 3101271', '239855', '28425', '233639',
       '349201', '349218', '16988', '376566', 'STON/O 2. 3101288',
       '250648', '113773', '335097', '29103', '392096', '345780',
       '349204', '350042', '29108', '363294', 'SOTON/O2 3101272', '2663',
       '347074', '112379', '364850', '8471', '345781', '350047',
       'S.O./P.P. 3', '2674', '29105', '347078', '383121', '36865',
       '2687', '113501', 'W./C. 6607', 'SOTON/O.Q. 3101312', '374887',
       '3101265', '12460', 'PC 17600', '349203', '28213', '17465',
       '349244', '2685', '2625', '347089', '347063', '112050', '347087',
       '248723', '3474', '28206', '364499', '112058', 'STON/O2. 3101290',
       'S.C./PARIS 2079', 'C 7075', '315098', '19972', '368323', '367228',
       '2671', '347468', '2223', 'PC 17756', '315097', '392092', '11774',
       'SOTON/O2 3101287', '2683', '315090', 'C.A. 5547', '349213',
       '347060', 'PC 17592', '392091', '113055', '2629', '350026',
       '28134', '17466', '233866', '236852', 'SC/PARIS 2149', 'PC 17590',
       '345777', '349248', '695', '345765', '2667', '349212', '349217',
       '349257', '7552', 'C.A./SOTON 34068', 'SOTON/OQ 392076', '211536',
       '112053', '111369', '370376'], dtype=object)

In [7]:
 titanic = data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)

In [8]:
titanic

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female   NaN      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [9]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [10]:
gender_dummies = pd.get_dummies(titanic['Sex'], prefix='gender')

In [12]:
embarked_dummies = pd.get_dummies(titanic['Embarked'], prefix='embarked')
# categorizar la variable p_class
class_dummies = pd.get_dummies(titanic['Pclass'], prefix='class')
titanic = titanic.join(gender_dummies).join(embarked_dummies).join(class_dummies)

In [13]:
titanic

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,gender_female,gender_male,embarked_C,embarked_Q,embarked_S,class_1,class_2,class_3
0,0,3,male,22.0,1,0,7.2500,S,0,1,0,0,1,0,0,1
1,1,1,female,38.0,1,0,71.2833,C,1,0,1,0,0,1,0,0
2,1,3,female,26.0,0,0,7.9250,S,1,0,0,0,1,0,0,1
3,1,1,female,35.0,1,0,53.1000,S,1,0,0,0,1,1,0,0
4,0,3,male,35.0,0,0,8.0500,S,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,0,1,0,0,1,0,1,0
887,1,1,female,19.0,0,0,30.0000,S,1,0,0,0,1,1,0,0
888,0,3,female,NaN,1,2,23.4500,S,1,0,0,0,1,0,0,1
889,1,1,male,26.0,0,0,30.0000,C,0,1,1,0,0,1,0,0
890,0,3,male,32.0,0,0,7.7500,Q,0,1,0,1,0,0,0,1

In [14]:
titanic = titanic.drop(['Sex', 'Embarked', 'Pclass'], axis=1)

In [15]:
titanic

,Survived,Age,SibSp,Parch,Fare,gender_female,gender_male,embarked_C,embarked_Q,embarked_S,class_1,class_2,class_3
0,0,22.0,1,0,7.2500,0,1,0,0,1,0,0,1
1,1,38.0,1,0,71.2833,1,0,1,0,0,1,0,0
2,1,26.0,0,0,7.9250,1,0,0,0,1,0,0,1
3,1,35.0,1,0,53.1000,1,0,0,0,1,1,0,0
4,0,35.0,0,0,8.0500,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,27.0,0,0,13.0000,0,1,0,0,1,0,1,0
887,1,19.0,0,0,30.0000,1,0,0,0,1,1,0,0
888,0,NaN,1,2,23.4500,1,0,0,0,1,0,0,1
889,1,26.0,0,0,30.0000,0,1,1,0,0,1,0,0
890,0,32.0,0,0,7.7500,0,1,0,1,0,0,0,1

# Seleccionar variables

In [16]:
from sklearn import datasets
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

In [17]:
# instanciamos la regresión logística
lr = LogisticRegression()

In [24]:
titanic.columns

Index(['Survived', 'Age', 'SibSp', 'Parch', 'Fare', 'gender_female',
       'gender_male', 'embarked_C', 'embarked_Q', 'embarked_S', 'class_1',
       'class_2', 'class_3'],
      dtype='object')

In [28]:
titanic_dropna = titanic.dropna()

In [30]:
titanic_dropna.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Survived       714 non-null    int64
 1   Age            714 non-null    float64
 2   SibSp          714 non-null    int64
 3   Parch          714 non-null    int64
 4   Fare           714 non-null    float64
 5   gender_female  714 non-null    uint8
 6   gender_male    714 non-null    uint8
 7   embarked_C     714 non-null    uint8
 8   embarked_Q     714 non-null    uint8
 9   embarked_S     714 non-null    uint8
 10  class_1        714 non-null    uint8
 11  class_2        714 non-null    uint8
 12  class_3        714 non-null    uint8
dtypes: float64(2), int64(3), uint8(8)
memory usage: 39.0 KB

In [34]:
# hacer una feature selection
rfe = RFE(lr, n_features_to_select=4)
rfe.fit(titanic_dropna[['Age', 'SibSp', 'Parch', 'Fare', 'gender_female',
       'gender_male', 'embarked_C', 'embarked_Q', 'embarked_S', 'class_1',
       'class_2', 'class_3']], titanic_dropna['Survived'])

/Users/atienda/miniforge3/envs/caipc/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/atienda/miniforge3/envs/caipc/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/atienda/miniforge3/envs/caipc/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/atienda/miniforge3/envs/caipc/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

RFE(estimator=LogisticRegression(), n_features_to_select=4)

In [47]:
titanic_dropna['class_3'].sum()

355

In [35]:
rfe.support_

array([False, False, False, False,  True,  True, False, False, False,
        True, False,  True])

In [37]:
rfe.ranking_

array([6, 4, 7, 9, 1, 1, 2, 3, 5, 1, 8, 1])

In [48]:
z = zip(['Age', 'SibSp', 'Parch', 'Fare', 'gender_female',
       'gender_male', 'embarked_C', 'embarked_Q', 'embarked_S', 'class_1',
       'class_2', 'class_3'], rfe.support_, rfe.ranking_)
list(z)

[('Age', False, 6),
 ('SibSp', False, 4),
 ('Parch', False, 7),
 ('Fare', False, 9),
 ('gender_female', True, 1),
 ('gender_male', True, 1),
 ('embarked_C', False, 2),
 ('embarked_Q', False, 3),
 ('embarked_S', False, 5),
 ('class_1', True, 1),
 ('class_2', False, 8),
 ('class_3', True, 1)]

In [49]:
lr.fit(titanic_dropna[['gender_male', 'gender_female', 'class_1', 'class_3']], titanic_dropna['Survived'])

LogisticRegression()

In [51]:
lr.score(titanic_dropna[['gender_male', 'gender_female', 'class_1', 'class_3']], titanic_dropna['Survived'])

0.7801120448179272

In [52]:
titanic_woage = titanic.dropna(axis = 1)

In [53]:
titanic_woage

,Survived,SibSp,Parch,Fare,gender_female,gender_male,embarked_C,embarked_Q,embarked_S,class_1,class_2,class_3
0,0,1,0,7.2500,0,1,0,0,1,0,0,1
1,1,1,0,71.2833,1,0,1,0,0,1,0,0
2,1,0,0,7.9250,1,0,0,0,1,0,0,1
3,1,1,0,53.1000,1,0,0,0,1,1,0,0
4,0,0,0,8.0500,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,0,0,13.0000,0,1,0,0,1,0,1,0
887,1,0,0,30.0000,1,0,0,0,1,1,0,0
888,0,1,2,23.4500,1,0,0,0,1,0,0,1
889,1,0,0,30.0000,0,1,1,0,0,1,0,0
890,0,0,0,7.7500,0,1,0,1,0,0,0,1

In [55]:
# hacer una feature selection
rfe = RFE(lr, n_features_to_select=4)
rfe.fit(titanic_woage[['SibSp', 'Parch', 'Fare', 'gender_female',
       'gender_male', 'embarked_C', 'embarked_Q', 'embarked_S', 'class_1',
       'class_2', 'class_3']], titanic_woage['Survived'])

RFE(estimator=LogisticRegression(), n_features_to_select=4)

In [56]:
z = zip(['SibSp', 'Parch', 'Fare', 'gender_female',
       'gender_male', 'embarked_C', 'embarked_Q', 'embarked_S', 'class_1',
       'class_2', 'class_3'], rfe.support_, rfe.ranking_)
list(z)

[('SibSp', False, 3),
 ('Parch', False, 6),
 ('Fare', False, 8),
 ('gender_female', True, 1),
 ('gender_male', True, 1),
 ('embarked_C', False, 4),
 ('embarked_Q', False, 7),
 ('embarked_S', False, 2),
 ('class_1', True, 1),
 ('class_2', False, 5),
 ('class_3', True, 1)]

In [61]:
lr_full = LogisticRegression()
lr_full.fit(titanic_woage[[ 'gender_female',
       'gender_male','class_1',
       'class_3']], titanic_woage['Survived'])
lr_full.score(titanic_woage[[ 'gender_female',
       'gender_male','class_1',
       'class_3']], titanic_woage['Survived'])

0.7867564534231201

# validación

In [63]:
from sklearn.model_selection import train_test_split

In [65]:
train, test = train_test_split(titanic_woage, test_size=0.2, random_state=0)

In [67]:
train.shape

(712, 12)

In [69]:
test.shape

(179, 12)

In [71]:
lr_full = LogisticRegression()
lr_full.fit(train[[ 'gender_female',
       'gender_male','class_1',
       'class_3']], train['Survived'])
lr_full.score(train[[ 'gender_female',
       'gender_male','class_1',
       'class_3']], train['Survived'])

0.7865168539325843

In [76]:
test['predicted'] = lr_full.predict(test[[ 'gender_female',
       'gender_male','class_1',
       'class_3']])

In [85]:
test[test['Survived']==test['predicted']]['predicted'].count() / len(test)

0.7877094972067039

In [87]:
lr_full.predict(test[[ 'gender_female',
       'gender_male','class_1',
       'class_3']])

array([0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0])

In [92]:
lr_full.predict_proba(
    test[[ 'gender_female',
       'gender_male','class_1',
       'class_3']]
)[:,1]

array([0.10963322, 0.10963322, 0.10963322, 0.8919232 , 0.61008348,
       0.39373998, 0.8919232 , 0.8919232 , 0.39373998, 0.61008348,
       0.10963322, 0.80438956, 0.10963322, 0.80438956, 0.8919232 ,
       0.61008348, 0.10963322, 0.24449388, 0.10963322, 0.10963322,
       0.24449388, 0.8919232 , 0.10963322, 0.39373998, 0.61008348,
       0.8919232 , 0.10963322, 0.61008348, 0.80438956, 0.61008348,
       0.10963322, 0.80438956, 0.10963322, 0.39373998, 0.10963322,
       0.39373998, 0.10963322, 0.24449388, 0.24449388, 0.24449388,
       0.39373998, 0.10963322, 0.10963322, 0.10963322, 0.8919232 ,
       0.10963322, 0.10963322, 0.8919232 , 0.24449388, 0.39373998,
       0.39373998, 0.39373998, 0.80438956, 0.10963322, 0.39373998,
       0.24449388, 0.39373998, 0.61008348, 0.10963322, 0.10963322,
       0.10963322, 0.61008348, 0.8919232 , 0.39373998, 0.61008348,
       0.10963322, 0.8919232 , 0.24449388, 0.80438956, 0.8919232 ,
       0.80438956, 0.39373998, 0.39373998, 0.10963322, 0.10963322,
       0.80438956, 0.39373998, 0.39373998, 0.10963322, 0.24449388,
       0.10963322, 0.10963322, 0.80438956, 0.10963322, 0.24449388,
       0.8919232 , 0.8919232 , 0.61008348, 0.80438956, 0.39373998,
       0.39373998, 0.10963322, 0.24449388, 0.8919232 , 0.61008348,
       0.10963322, 0.80438956, 0.10963322, 0.39373998, 0.39373998,
       0.10963322, 0.24449388, 0.10963322, 0.10963322, 0.61008348,
       0.61008348, 0.80438956, 0.61008348, 0.24449388, 0.61008348,
       0.10963322, 0.8919232 , 0.10963322, 0.61008348, 0.39373998,
       0.80438956, 0.61008348, 0.8919232 , 0.10963322, 0.80438956,
       0.10963322, 0.10963322, 0.10963322, 0.39373998, 0.10963322,
       0.39373998, 0.10963322, 0.10963322, 0.24449388, 0.24449388,
       0.61008348, 0.10963322, 0.10963322, 0.61008348, 0.39373998,
       0.10963322, 0.10963322, 0.61008348, 0.24449388, 0.24449388,
       0.24449388, 0.8919232 , 0.10963322, 0.61008348, 0.80438956,
       0.61008348, 0.24449388, 0.80438956, 0.8919232 , 0.10963322,
       0.39373998, 0.61008348, 0.61008348, 0.10963322, 0.80438956,
       0.24449388, 0.61008348, 0.24449388, 0.61008348, 0.61008348,
       0.10963322, 0.10963322, 0.8919232 , 0.61008348, 0.10963322,
       0.10963322, 0.10963322, 0.10963322, 0.10963322, 0.10963322,
       0.10963322, 0.8919232 , 0.10963322, 0.10963322, 0.61008348,
       0.10963322, 0.8919232 , 0.10963322, 0.10963322])

In [94]:
test['pro_surv'] = lr_full.predict_proba(
    test[[ 'gender_female',
       'gender_male','class_1',
       'class_3']]
)[:,1]

In [95]:
test

,Survived,SibSp,Parch,Fare,gender_female,gender_male,embarked_C,embarked_Q,embarked_S,class_1,class_2,class_3,predicted,pro_surv
495,0,0,0,14.4583,0,1,1,0,0,0,0,1,0,0.109633
648,0,0,0,7.5500,0,1,0,0,1,0,0,1,0,0.109633
278,0,4,1,29.1250,0,1,0,1,0,0,0,1,0,0.109633
31,1,1,0,146.5208,1,0,1,0,0,1,0,0,1,0.891923
255,1,0,2,15.2458,1,0,1,0,0,0,0,1,1,0.610083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
780,1,0,0,7.2292,1,0,1,0,0,0,0,1,1,0.610083
837,0,0,0,8.0500,0,1,0,0,1,0,0,1,0,0.109633
215,1,1,0,113.2750,1,0,1,0,0,1,0,0,1,0.891923
833,0,0,0,7.8542,0,1,0,0,1,0,0,1,0,0.109633
372,0,0,0,8.0500,0,1,0,0,1,0,0,1,0,0.109633

In [97]:
test[test['pro_surv']>0.89]

,Survived,SibSp,Parch,Fare,gender_female,gender_male,embarked_C,embarked_Q,embarked_S,class_1,class_2,class_3,predicted,pro_surv
31,1,1,0,146.5208,1,0,1,0,0,1,0,0,1,0.891923
609,1,0,0,153.4625,1,0,0,0,1,1,0,0,1,0.891923
318,1,0,2,164.8667,1,0,0,0,1,1,0,0,1,0.891923
310,1,0,0,83.1583,1,0,1,0,0,1,0,0,1,0.891923
708,1,0,0,151.5500,1,0,0,0,1,1,0,0,1,0.891923
319,1,1,1,134.5000,1,0,1,0,0,1,0,0,1,0.891923
230,1,1,0,83.4750,1,0,0,0,1,1,0,0,1,0.891923
311,1,2,2,262.3750,1,0,1,0,0,1,0,0,1,0.891923
496,1,1,0,78.2667,1,0,1,0,0,1,0,0,1,0.891923
796,1,0,0,25.9292,1,0,0,0,1,1,0,0,1,0.891923
887,1,0,0,30.0000,1,0,0,0,1,1,0,0,1,0.891923
627,1,0,0,77.9583,1,0,0,0,1,1,0,0,1,0.891923
380,1,0,0,227.5250,1,0,1,0,0,1,0,0,1,0.891923
523,1,0,1,57.9792,1,0,1,0,0,1,0,0,1,0.891923
356,1,0,1,55.0000,1,0,0,0,1,1,0,0,1,0.891923
700,1,1,0,227.5250,1,0,1,0,0,1,0,0,1,0.891923
412,1,1,0,90.0000,1,0,0,1,0,1,0,0,1,0.891923
299,1,0,1,247.5208,1,0,1,0,0,1,0,0,1,0.891923
513,1,1,0,59.4000,1,0,1,0,0,1,0,0,1,0.891923
1,1,1,0,71.2833,1,0,1,0,0,1,0,0,1,0.891923
215,1,1,0,113.2750,1,0,1,0,0,1,0,0,1,0.891923

# validación cruzada

In [102]:
from sklearn.model_selection import cross_val_score

values = cross_val_score(
    LogisticRegression(), 
    titanic_woage[[ 'gender_female',
       'gender_male','class_1',
       'class_3']] ,
    titanic_woage['Survived'],
    scoring='accuracy',
    cv = 10
)

In [104]:
values.mean()

0.786729088639201

In [105]:
values.std()

0.028599350013463757

In [106]:
values

array([0.81111111, 0.79775281, 0.76404494, 0.84269663, 0.79775281,
       0.7752809 , 0.76404494, 0.74157303, 0.80898876, 0.76404494])